<div class="container mt-4">
    <div class="row">
      <div class="col">
        <h1>
          Edit contact &nbsp;
          <i class="fa-solid fa-pen-to-square"></i> &nbsp;
        </h1>
  
        <p style="text-align: justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
          delectus ullam ipsum culpa hic odit unde, ratione asperiores saepe enim,
          veritatis in debitis, fugit eius? Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Accusamus minus incidunt ab vel vitae
          aliquid sed quas dignissimos doloremque suscipit unde modi obcaecati
          quaerat excepturi, fugiat provident commodi? Architecto, nulla.
        </p>
      </div>
    </div>
    <!-- Add contact form -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <form>
            <div class="mb-2">
              <input type="text" placeholder="Name" class="form-control" />
            </div>
            <div class="mb-2">
              <input type="text" placeholder="Photo-url" class="form-control" />
            </div>
            <div class="mb-2">
              <input type="text" placeholder="Email ID" class="form-control" />
            </div>
            <div class="mb-2">
              <input
                type="text"
                placeholder="Mobile number"
                class="form-control"
              />
            </div>
            <div class="mb-2">
              <input type="text" placeholder="Title" class="form-control" />
            </div>
            <div class="mb-2">
              <select name="" id="" class="form-control">
                <option value="" selected hidden disabled>Select a group</option>
                <option value="">Family</option>
                <option value="">Friends</option>
                <option value="">Work</option>
              </select>
            </div>
            <div class="mb-2">
              <button class="btn btn-primary">update</button>
              <button class="btn btn-warning ms-3" routerLink="/">Back</button>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <img
            src="https://www.pngitem.com/pimgs/m/391-3918613_personal-service-platform-person-icon-circle-png-transparent.png"
            alt=""
            class="Contact-img"
          />
        </div>
      </div>
    </div>
  </div>
  